* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
nav {
    background-color: #dafada;
    min-height: 9vh;
}

/* Home page */
.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    min-height: 91vh;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }


.homeBtn {
    max-width: 400px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 25%;
}

.product_body {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    padding: 45px;
    flex-wrap: wrap;

}

/* Ptoduct page */
.product_body div {
    margin-top: 25px;
}

.card {
    box-shadow: 0 9px 20px rgb(249, 255, 236);
    background-color: rgb(244, 244, 244);
    margin: 10px;
}